<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Chart3</title>

        <!--main-->
        <link rel="stylesheet" href="../css/main.css">
    </head>

    <body>
        <div class="content">
            <div id="chart3"></div>
        </div>

        <!--jQuery 3.1.1-->
        <script type="text/javascript" src="../lib/jquery-3.1.1.min.js"></script>
        <!--echarts3-->
        <script type="text/javascript" src="../lib/echarts.js"></script>
        <!--world map-->
        <script type="text/javascript" src="../js/world.js"></script>
        <!--chart1 main-->
        <script type="text/javascript" src="../js/chart3.js"></script>
    </body>
</html>