*
{
    margin: 0;
    padding: 0;
}

html
{
    box-sizing: border-box;
}

*,
*:before,
*:after
{
    box-sizing: inherit;
}

ul,
li
{
    list-style: none;
}

/*
***************start*****************
*content style
*/
.content
{
    position: relative;

    overflow: hidden;
}

#chart4
{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}
/*
*content style
****************end******************
*/